@import "colors";
@import "typography";

@media only screen and (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
        body {
            background-color: $white;
            margin-left: 30px;
            margin-right: 30px;
            .headerTitle {
                font-family: $typo;
                font-size: 2rem;
                font-weight: 300;
                a {
                    text-decoration: none;
                    color: $black;
                    a:hover {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
            ul {
                list-style-type: none;
                li {
                    font-family: $typo;
                    font-size: 2rem;
                    font-weight: 300;
                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
            .active {
                text-decoration: underline;
            }
            .mainIndex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
            .mainTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 10vw;
                color: $black;
                display: inline-block;
                position: relative;
                top: 30px;
            }
            .mainImage {
                max-width: 100%;
            }
            .vl {
                border-left: 3px solid $black;
                height: 250px;
                left: 50%;
            }
            .imgIndex {
                padding-top: 50px;
            }
            .projectName {
                font-family: $typo;
                font-weight: 300;
                font-size: 1.5rem;
                color: $black; 
            }
            .iconA {
                position: absolute;
                top: 300px;
                left: -10px;
                opacity: 0;
                width: 10%;
            }
            .containerIconA:hover .iconA {
                opacity: 1;    
            }
            .textIndex {
                font-family: $typo;
                font-weight: 300;
                font-size: 5vw;
                color: $black;
                text-decoration: underline;
                margin: 50px;
            }
            .iconLaFranca {
                position: absolute;
                top: -20px;
                left: 80px;
                opacity: 0;
                width: 10%;
            }
            .containerIconLaFranca:hover .iconLaFranca {
                opacity: 1;    
            }
            .contact {
                margin: 200px; 
                text-align: center;
                a {
                    color: $black;
                }
            }
            .contactIndexCircleGrey {
                position: absolute;
                top: 3050px;
                right: 80px;
                width: 20%;
                opacity: 0;
            }
            .contact:hover .contactIndexCircleGrey {
                opacity: 1;
            }
            .iconColonia {
                position: absolute;
                top: -20px;
                left: 50px;
                opacity: 0;
                width: 10%;
            }
            .containerIconColonia:hover .iconColonia {
                opacity: 1;    
            }
            h4 a {
                font-family: $typo;
                font-weight: 300;
                font-size: 13vw;
                color: $black;
                text-decoration: underline;
                a:hover {
                    color: $black;
                }
            }
            .bioTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 2rem;
                color: $black;
                text-decoration: underline;
            }
            .bioOutstanding {
                font-family: $typo;
                font-weight: 400;
                font-size: 4.5vw;
                color: $black;
            }
            .bioText {
                font-family: $typo;
                font-weight: 300;
                font-size: 1.5rem;
                color: $black;
            }
            .bioBold {
                font-weight: 500;
            }
            .vl2 {
                grid-area: vl2;
                border-left: 3px solid $black;
                height: 320px;
                left: 50%;
            }
            .containerBio {
                padding-top: 50px;
            }
            .bioPic img {
                max-width: 80%;
            }
            .contactBioCircleGrey {
                position: absolute;
                top: 2485px;
                right: 80px;
                width: 20%;
                opacity: 0;
            }
            .contact:hover .contactBioCircleGrey {
                opacity: 1;
            }
            .contactMail {
                padding: 30px 0;
                a {
                    font-family: $typo;
                    font-weight: 300;
                    font-size: 6vw;
                    color: $black;
                    text-decoration: none;
                    a:hover {
                        color: $black;
                        text-decoration: none;
                    }
                }
            }
            label {
                font-family: $typo;
                font-weight: 400;
                font-size: 1.5rem;
                color: $black;
            }
            .formButton {
                font-family: $typo;
                font-weight: 400;
                font-size: 1.5rem;
                color: $black;
                text-decoration: underline;
            }
            .vl3 {
                border-left: 3px solid $black;
                height: 500px;
                left: 50%;
            }
            .contactList {
                padding-top: 380px;
                font-family: $typo;
                font-weight: 400;
                font-size: 1.5rem;
                color: $black;
                text-decoration: underline;
                a:hover {
                    color: $black;
                }
            }
            .headerTitleWhite {
                font-family: $typo;
                font-size: 30px;
                font-weight: 300;
                a {
                    text-decoration: none;
                    color: $white;
                    a:hover {
                        text-decoration: none;
                        color:$white;
                    }
                }
            }
            .aWhite {
                text-decoration: none;
                color: $white !important;
                font-weight: 300;
            }
            .navbar-dark {
                color:$white;
            }
            .projectTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 13vw;
                color: $white;
            }
            .vl4 {
                border-left: 3px solid $white;
                height: 300px;
                left: 50%;
            }
            .projectList {
                list-style-type: none;
                text-decoration: none;
                text-align: center;
                li a {
                    color: $white;
                    font-size: 3rem;
                    a:hover {
                        color: $white;
                    }
                }
            }
            .talleresTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 13vw;
                color: $white;
                padding-bottom: 0px;
            }
            .tallerContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .tallerName {
                font-family: $typo;
                font-weight: 300;
                color: $white;
                font-size: 8vw;
                position: relative;
                top: 45vw;
            }
            .iconEnsayo {
                position: relative;
                top: 485px;
                right: 150px;
                opacity: 0;
                width: 10%;
            }
            .containerIconEnsayo:hover .iconEnsayo {
                opacity: 1;    
            }
            .iconCreativa {
                position: relative;
                top: 485px;
                left: 150px;
                opacity: 0;
                width: 10%;
            }
            .containerIconCreativa:hover .iconCreativa {
                opacity: 1;    
            }
            .iconParticulares {
                position: relative;
                top: 485px;
                right: 150px;
                opacity: 0;
                width: 10%;
            }
            .containerIconParticulares:hover .iconParticulares {
                opacity: 1;    
            }
            .WhiteContact {
                margin: 200px; 
                text-align: center;
                color: $black;
                a {
                    color: $black;
                }
            }
            .contactTalleresCircleWhite {
                position: absolute;
                top: 1875px;
                right: 80px;
                width: 20%;
                opacity: 0;
            }
            .WhiteContact:hover .contactTalleresCircleWhite {
                opacity: 1;
            }
            .mutanteTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 2rem;
                color: $white;
                text-decoration: underline;
            }
            .containerMutante1 {
                padding: 50px 0px;
            }
            .containerMutante2 {
                padding: 150px 0px;
            }
            .containerMutante3 {
                padding-bottom: 50px;
            }
            .mutanteText {
                font-family: $typo;
                font-weight: 300;
                font-size: 1.6rem;
                color: $white;
            }
            .mutanteText1 {
                padding-top: 250px;
                font-family: $typo;
                font-weight: 300;
                font-size: 1.6rem;
                color: $white;
            }
            .mutanteOutstanding {
                font-family: $typo;
                font-weight: 400;
                font-size: 4rem;
                line-height: 1.2;
                color: $white;
            }
            .mutanteOutstanding2 {
                padding-top: 200px;
            }
            footer {
                margin: 25px 0px;
            }
            .igFooter {
                font-family: $typo;
                font-size: 2rem;
                font-weight: 300;
                a {
                    text-decoration: none;
                    color: $black;
                    a:hover {
                        text-decoration: none;
                        color: $black;
                    }
                }
            }
            .development {
                font-family: $typo;
                font-size: 2rem;
                font-weight: 300;
                color: $black;
            }
            .igFooterWhite {
                font-family: $typo;
                font-size: 2rem;
                font-weight: 300;
                a {
                    text-decoration: none;
                    color: $white;
                    a:hover {
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
            .developmentWhite {
                font-family: $typo;
                font-size: 2rem;
                font-weight: 300;
                color: $white;
            }
        }
        .contactBody {
            background-color: $pink;
        }
        .projectBody {
            background-color: $black;
        }
        .talleresBody {
            background-color: $gray;
        }
    }
}

@media only screen and (min-width: 600px) {
    *{
        body {
            .mainIndex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 50px;
            }
            .mainTitle {
                font-family: $typo;
                font-weight: 300;
                font-size: 13vw;
                color: $black;
                display: inline-block;
                position: relative;
                top: 100px;
            }
            .mainImage {
                max-width: 70%;
            }
            .iconA {
                position: absolute;
                top: 650px;
                left: -50px;
                opacity: 0;
                width: 15%;
            }
            .iconLaFranca {
                position: absolute;
                top: 620px;
                left: -600px;
                opacity: 0;
                width: 15%;
            }
            .iconColonia {
                position: absolute;
                top: -50px;
                left: 60px;
                opacity: 0;
                width: 15%;
            }
            .contactIndexCircleGrey {
                position: absolute;
                top: 5265px;
                right: 250px;
                opacity: 0;
            }
            .contactBioCircleGrey {
                position: absolute;
                top: 1450px;
                right: 250px;
            }
            .contactMail a {
                font-family: $typo;
                font-weight: 300;
                font-size: 7vw;
                color: $black;
                text-decoration: none;
            }
            .talleresTitle {
                padding-bottom: 50px;
            }
            .tallerName {
                font-family: $typo;
                font-weight: 300;
                color: $white;
                font-size: 5vw;
                position: relative;
                top: 25vw;
            }
            .iconEnsayo {
                position: relative;
                top: 840px;
                right: 200px;
                opacity: 0;
                width: 15%;
            }
            .iconCreativa {
                position: relative;
                top: 840px;
                left: 200px;
                opacity: 0;
                width: 15%;
            }
            .iconParticulares {
                position: relative;
                top: 840px;
                right: 200px;
                opacity: 0;
                width: 15%;
            }
            .contactTalleresCircleWhite {
                position: absolute;
                top: 2385px;
                right: 250px;
            }
            .mutanteOutstanding {
                font-size: 6rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

}